@{
    ViewBag.Title = "Home Page";
}

<main>
   
    <table width="100%">
        <tr>
            <th>S. No</th>
            <th>First Name</th>
            <th>Middle Name</th>
            <th>Last Name</th>
            <th>Current Address</th>
            <th>DOB</th>
            <th>Education</th>
            <th>Company Name</th>
            <th>Joining Date</th>
        </tr>

    </table>
</main>